.portfolio-gallery{
    max-width: 1350px;
    height: 800px;
    padding: 70px;
    display: flex;
    margin: auto;
    flex-direction: column;
    margin-top: 100px;
    height: auto;
}

.Real__Port_Headings{
    padding: 40px 0;
}

.Real__Port_Headings h3{
    font-size: 18px;
    font-weight: 300;
    color: var(--color-white);
    letter-spacing: 5px;
    line-height: 23px;
}
.Real__Port_Headings h2{
    font-size: 48px;
    font-weight: 500;
    padding: 10px 0;
    line-height: 67px;
}








.filter-buttons {
    display: flex;
    gap: 20px;
    margin: 70px auto;
    border-radius: 50px;
    background: #18191D;
    padding: 10px 35px;
}
.Port_Icon{
    color: var(--color-primary);
}


.filter-buttons button{
    padding: 13px 0px;
    color: var(--color-white);
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 13px;
    transition: 0.5s;
}
.filter-buttons button:hover{
    cursor: pointer;
}
.gallery-item{
    border-radius: 20px;
    background: #18191D;
    padding-bottom: 20px;

}
.item-details{
    text-align: left;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-details h2{
    color: var(--color-white);
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
}
.item-details p{
    font-size: 13px;
    font-weight: 400;
    line-height: 27px;
    color: #7A7A7A;
}

.item-details button{
    width: max-content;
    padding: 10px 10px;
    text-align: left;
    background: transparent;
    color: var(--color-white);
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: 0.3s;
}
.item-details button:hover{
    gap: 10px;
}

.SeeMore_Icon{
    color: var(--color-primary);
    font-size: 25px;
}



.cotegories{
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    
}
.Item__Image{
    object-fit: cover;
    padding: 20px;
    opacity: 0.8;
}


.Item__Image img {
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    transition: 0.5s;
}



.tags{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 300;
}
.tags span {
  color: #e6e5e5;;
    padding: 5px 10px;
    border-radius: 5px;
    background: #292929;
    cursor: pointer;
}

  .fade-enter {
    opacity: 0.01;
  }
  
  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 500ms ease-in-out;
  }


  @media screen and (max-width: 1167px) {
    .cotegories{
        grid-template-columns: 1fr 1fr;
    }
    .Item__Image img{
        height: 400px;
    }
  }

  @media screen and (max-width: 1026px){
    .Item__Image img{
        height: 400px;
    }
  }


  @media screen and (max-width: 1026px){
    .item-details h2 {
        color: var(--color-white);
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
    }
    .Item__Image img{
        height: 350px;
    }
    .item-details h3{
        font-size: 13px;
    }
  }
  

  @media screen and (max-width: 930px){
  .Item__Image img{
    height: 300px;
}
.Real__Port_Headings h3{
    font-size: 15px;
}
.Real__Port_Headings h2{
    font-size: 35px;
}
}

@media screen and (max-width: 836px){
    .Item__Image img{
        height: 260px;
    }
    .item-details{
        gap: 5px;
    }
    .item-details p {
        font-size: 12px;
        line-height: 22px;
    }
    .filter-buttons { 
        gap: 15px;
        padding: 5px 25px;
    }
    .filter-buttons button{
        font-size: 12px;
    }
}


@media screen and (max-width: 755px) {
    .gallery-item{
        padding-bottom: 5px;
    }
    .Item__Image img {
        height: 225px;
    }
    .cotegories {
        gap: 10px;
    }
    .tags {
        
        font-size: 10px;
        
    }
    .tags span {
        font-size: 9px;
        padding: 3px 7px;
        
        
    }
    .item-details {
        gap: 9px;
    }
    .item-details button {
       
        font-size: 11px;
       
    }
    .SeeMore_Icon {
        
        font-size: 20px;
    }
    .item-details h2 {
    
        font-size: 16px;
        
    }
    .item-details h3 {
        font-size: 11px;
    }
    .item-details p {
        font-size: 11px;
        line-height: 19px;
    }
    .Item__Image img {
        height: 235px;
    }
    .filter-buttons button {
        font-size: 11px;
    }
}

@media screen and (max-width: 690px){
    .cotegories{
        grid-template-columns: 1fr;
    }
    .Item__Image img {
        height: 500px;
    }
    .item-details {
        gap: 16px;
    }
    .item-details h2 {
        font-size: 20px;
    }
    .item-details p {
        font-size: 13px;
        line-height: 19px;
    }
    .gallery-item{
        padding: 50px;
        
    }
    .cotegories{
        gap: 50px;
    }
    .Item__Image img {
        height: 380px;
    }
    .filter-buttons {
        gap: 10px;
        padding: 0px 18px;
    }
    .portfolio-gallery{
        padding: 60px;
    }
}

@media screen and (max-width: 628px){
    .gallery-item{
        padding: 20px;
    }
    .filter-buttons{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
}


@media screen and (max-width: 622px) {
    
    .portfolio-gallery{
        padding: 60px;
    }
    .Real__Port_Headings h2{
        font-size: 30px;
        line-height: normal;
    }
    .Real__Port_Headings h3{
        font-size: 13px;
    }
}

@media screen and (max-width: 585px) {
    .filter-buttons{
        padding: 20px;
    }
}


@media screen and (max-width: 529px){
    .Item__Image img {
        height: 325px;
    }
}



@media screen and (max-width: 475px){
    .gallery-item {
        padding: 0px;
    }
}


@media screen and (max-width: 439px){
    .portfolio-gallery{
        padding: 30px;
    }
    .Real__Port_Headings h2{
        font-size: 25px;
        line-height: normal;
    }
}



@media screen and (max-width: 381px){
    .Item__Image img {
        height: 250px;
    }
}
