.portfolio-gallery{
    max-width: 1350px;
    height: 800px;
    padding: 70px;
    display: flex;
    margin: auto;
    flex-direction: column;
    margin-top: 100px;
}
.filter-buttons {
    display: flex;
    gap: 150px;
    margin: 0 auto;
}