.Agency__Parent{
    max-width: 1350px;
    padding: 150px 70px;
    margin: 0 auto;
    display: flex;
    text-align: left;
    gap: 150px;
}

.Agency__Image{
    
    width: 50%;
    height: 550px;
    background: url('../../assets/aboutagency.jpg');
    border-radius: 12%;
    box-shadow: 0px 0px 40px 0px var(--color-primary);
    transition: 0.4s;
}
.Agency__Image:hover{
    box-shadow: 0px 0px 40px 0px #ef4c68;
}

.Agency__About{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 40px;
}

.Agency__About h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
}

.Agency__About p{
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    color: #9D9EA0;

}


.Agency__About-Icons{
    font-size: 40px;
    color: var(--color-primary);
}

.Agency__About > article{
    display: flex;
    gap: 30px;
}

.About__Inner h3{
    font-size: 20px;
    color: var(--color-white);
    font-weight: 500;
    line-height: 23px;
}

.About__Inner p{
    font-size: 15px;
}




@media screen and (max-width: 1024px) {
    .Agency__Parent {
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
    .Agency__Image{
        width: 80%;
        height: 600px;
    }   

    .Agency__About{
        width: 100%;
    }
    .Agency__About > article{
        flex-direction: column;
    }
}



@media screen and (max-width: 750px) {
    .Agency__Image{
        background-size: cover;
    }  
}



@media screen and (max-width: 600px) {
    .Agency__Image{
        width: 90%;
        height: 500px;
    }  
    .Agency__About h2{
        font-size: 35px;
    }
    .Agency__About p{
        font-size: 13px;
    }
    .Agency__About > article {
        flex-direction: column;
        padding: 0 41px;
    }
    .About__Inner h3{
        font-size: 18px;
    }
    .Agency__About-Icons{
        font-size: 35px;
    }
}



@media screen and (max-width: 460px) {
    .Agency__Image{
        width: 100%;
        height: 400px;
    }  
}


@media screen and (max-width: 380px) {
    .Agency__Image{
        width: 100%;
        height: 300px;
    }  
}