.swiper-button-next {
  background-image: url('../../assets/slideright.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
.swiper-button-prev {
  background-image: url('../../assets/slideleft.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next::after {
  display: none;
}
.swiper-button-prev::after {
  display: none;
}




.swiper-slide {
  font-size: 18px;
  color: #fff;
  padding: 40px 60px;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiper-slide .title {
  padding-top: 175px;
  font-size: 41px;
  font-weight: 300;
}
.title h2{
  background: linear-gradient(90deg, rgba(35,183,227,1) 28%, rgba(214,65,167,1) 50%, rgba(243,78,96,1) 105%); /* Replace with your desired colors */
  -webkit-background-clip: text;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  padding-bottom: 20px;
}
.text p{
  font-size: 15px;
  letter-spacing: 2px;
  padding-bottom: 20px;
}





.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {
  padding-bottom: 90px;
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
  margin: 0 auto;
}


@media screen and (max-width: 768px) {
  .title h2{
    font-size: 35px;
    line-height: 40px;
    
  }
  .text p{
    font-size: 12px;
  }
  .text button {
    font-size: 12px;
  }
  .swiper-slide .text{
    padding-bottom: 35px;
  }
}

@media screen and (max-width: 600px){
  .title h2{
    font-size: 30px;
  }
  .text p{
    font-size: 11px;
  }
  .text button {
    font-size: 10px;
  }
  .swiper-slide .text{
    padding-bottom: 80px;
  }
}