.Need__Parent{
    max-width: 1350px;
    padding: 70px;
    margin: 0 auto;
    display: flex;
    text-align: left;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}
.Need__Heading{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Need__Heading h3{
    font-size: 15px;
    color: var(--color-white);
    font-weight: 300;
    letter-spacing: 2px;
}
.Need__Heading h2{
    font-size: 40px;
    font-weight: 600;
}
.Need__Heading h2 span{
    color: transparent;
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: var(--color-bg);
}

.Need__Button{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Need__Button button{
    font-size: 15px;
    letter-spacing: 2px;
    padding: 13px 25px;
    border: 1px solid var(--color-white);
    color: var(--color-white);
    background: transparent;
    border-radius: 5px;
    transition: 0.5s;
}
.Need__Button button:hover{
    border-left: 1px solid #30AFDF;
    border-top: 1px solid #956CBD;
    border-right: 1px solid #DD4496;
    border-bottom: 1px solid #EF4C68;
    
}


   
@media screen and (max-width: 1024px) {
    .Need__Heading h2{
        font-size: 30px;
    }
    .Need__Heading h3{
        font-size: 13px;
    }
}

@media screen and (max-width: 658px) {
    .Need__Parent{
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }
}

@media screen and (max-width: 397px){
    .Need__Parent{
        padding: 60px 0;
    }
    .Need__Heading h2{
        font-size: 25px;
    }
    .Need__Button button{
        padding: 12px 20px;
        font-size: 13px;
    }
}