.Projects__Parent {
  margin: 0 auto;
  max-width: 1350px;
  display: flex;
  gap: 50px;
  padding: 70px;
  flex-direction: row;
  justify-content: space-around;
}

.Projects__Counter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    width: 40%;
}


.circle {
    position: relative;
    top: 2px;
    left: 2px;
    width: 103px;
    height: 103px;
    border-radius: 100%;
    background-color: rgb(17, 20, 27);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle p{
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 1px;
}


.circle-border {
    position: relative;
    width: 107px;
    height: 107px;
    border-radius: 100%;
    background-color: var(--color-primary);
    background-image: linear-gradient(360deg, transparent 131%, #25282E 153%), linear-gradient(110deg, #25282E 21%, transparent 10%);
}


.Testimonials__Parent{
    max-width: 675px;
    padding: 40px;
}


.Circle__Parent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 15px;
    position: relative;
}
.Circle__Content{
    text-align: left;
    margin-top: -35px;
}


.Circle__Content p {
    font-size: 12;
    list-style: 27px;
    color: #BCBDBF;
    font-weight: 300;
}
.Testimonial__Slide__Content p{
    font-size: 15px;
    color: #BCBDBF;
    margin-bottom: 10px;
    padding: 0 70px;
}
.swiper-pagination-bullets{
    margin-bottom: -15px;
}

.Circle__Content h3{
    font-size: 15px;
    line-height: 21px;
    color: var(--color-white);
    font-weight: 500;
    position: absolute;
}
.Testimonials__Slides{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 50px;
}


.All__Slide__Parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
    width: 55%;
}





  /*  ================  MEDIA QUERIES (MEDIUM DEVICES) =================  */
  @media screen and (max-width: 1140px) {
    .Testimonials__Parent{
        padding: 25px;
        margin: 0 auto;
    }
    .Testimonials__Slides h2{
        font-size: 30px;
    }
    .Projects__Parent{
        flex-direction: column;
    }
    .Projects__Counter {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 80px;
        width: 70%;
        margin: 0 auto;
    }
    .All__Slide__Parent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 70px 0;
        width: 100%;
    }
  }
  
  
    /*  ================  MEDIA QUERIES (SMALL DEVICES) =================  */

@media screen and (max-width: 745px) {
    .Projects__Counter {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 64px;
        width: 90%;
        margin: 0 auto;
    }
}







  @media screen and (max-width: 684px) {
    .circle {
        width: 60px;
        height: 60px;
        
    }
    .Testimonials__Slides{
        padding: 15px;
    }
    .circle-border {
        width: 65px;
        height: 65px;
        
    }
    .Testimonial__Heading{
        width: 70%;
        line-height: normal;
        font-size: 28px;
    }
  }


  @media screen and (max-width: 560px) {
    .Circle__Content h3 {
        font-size: 10px;
        margin-top: 12px;
    }
    .Testimonial__Slide__Content p{
        padding: 0;
    }
    .circle p {
        font-size: 12px;
        
    }
    .Circle__Content p {
        font-size: 10px;
    }
    .Testimonials__Slides {
        padding: 20px;
    }

    .Testimonials__Slides h3{
        font-size: 10px;
    }


    .Testimonials__Slides h2 {
        font-size: 20px;
    }
    .Testimonials__Paragraph p{
        font-size: 10px;
    }
    .Testimonial__Heading{
        width: 80%;
    }
  }

  @media screen and (max-width: 480px) {
    .Circle__Parent{
        flex-direction: column-reverse;
    }
    .Projects__Parent{
        padding: 0;
    }
    .Projects__Counter{
        gap: 80px;
    }
    .Testimonial__Heading h2{
        font-size: 30px;
    }
    .Testimonial__Slide__Content p{
        padding: 0 10px;
    }
  }
