.Container__Parent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1350px;
    margin: 0 auto;
    padding: 150px 70px;
    text-align: left;
    gap: 50px;

    background: var(--color-bg);
}
.Container__Digital{
    width: 675px;
}
.Container__Annual{
    width: 675px;
}
