
.Container__Who{
    background: url('../../assets/bglines.png');
    max-width: 1400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.Container__Overlay{
    position: relative;
    max-width: 1400px;
    display: flex;
    margin: 0 auto;
    height: 800px;
    gap: 20px;
    align-items: center;
    padding: 0 50px;
    background-color: rgba(0, 0, 0, 0.767);
  
}
.Container__Branding{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: left;
    padding-right: 50px;
}
.Container__Branding h3 {
    color: var(--color-primary);
}

.Container__Branding h2 {
    line-height: 50px;
    font-weight: 600;
}

.Container__Video {
    width: 125%;
    background: url('/src/assets/branding.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.678);
}

.Container__Video h3{
    z-index: 7;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}
.Container__Video p{
    z-index: 7;
}
.Icon__Div{
    z-index: 7;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    top: -15%;
    right: -10%;
    border: 1px solid white;
    border-radius: 50%;
    width: 200px;
    background: var(--color-white)
    
}
.Icon__Div h1{
    color: var(--color-primary);
    line-height: 50px;
    padding-top: 60px;
    font-weight: 600;
}
.Icon__Div p{
    color: var(--color-bg);
    line-height: 30px;
    padding-bottom: 60px;
    font-weight: 600;
}
.Icon-1{
    background: var(--color-white);
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 7;
    margin: 40px 20px;
    border-radius: 50%;
    transition: var(--transition);
    cursor: pointer;
}
.Icon-1:hover{
    background: var(--color-primary);
}
.Icon-1-icon{
    color: var(--color-primary-variant);
    font-size: 35px;
}
.Icon-1-icon:hover{
    color: var(--color-white);
}




/*  ================  MEDIA QUERIES (MEDIUM DEVICES) =================  */
@media screen and (max-width: 1024px) {
    .Container__Overlay {
            flex-direction: column;
            gap: 40px;
            height: 800px;
            margin: 100px auto;
    
    }
    
    .Container__Video {
        background: url('/src/assets/branding.webp');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 400px;
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.678);
        width: auto;
    }

    .Container__Branding {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        text-align: left;
    }
    .Icon__Div {
        z-index: 7;
        position: absolute;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        transform: translate(-25%, -10%);
        border: 1px solid white;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        background: var(--color-white);
    }
    .Icon__Div h1{
        font-size: 40px;
    }
    .Icon__Div p{
        font-size: 13px;
    }
  }
  
  /*  ================  MEDIA QUERIES (SMALL DEVICES) =================  */
  @media screen and (max-width: 600px) {
    .Container__Overlay{
        margin-top: 170px;
    }
    .Container__Video {
        padding: 20px;
    }
    .Icon-1{
        width: 60px;
        height: 60px;
        margin: auto;
    }
    .Icon-1-icon{
        font-size: 20px;
    }
    .Container__Branding h2{
        font-size: 34px;
        line-height: normal;
    }
    .Icon__Div{
        display: none;
        
    }
  }



  @media screen and (max-width: 320px) {
    .Icon__Div{
        display: none;
        
    }
    .Container__Video h3{
        font-size: 20px;
        line-height: normal;
    }
    .Container__Video{
        padding: 20px;
    }
    .Icon-1{
        width: 50px;
        height: 50px;
    }
    .Icon-1-icon{
        font-size: 30px;
    }
    .Container__Video p{
        line-height: normal;
    }
  }
  
