header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: background-color 0.4s ease;
  box-shadow: 0px 0px 2px 0px white;
}

.scrolling {
  background-color: var(--color-bg);
  z-index: 20;
}

.Container__Header {
  background: #00000038;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.Header__Main {
  display: flex;
  justify-content: space-between;
  position: sticky;
  gap: 50px;
  align-items: center;
  padding: 25px 45px;
  margin: 0 auto;
  max-width: 1300px;
}

.Parent__Nav {
  display: flex;
  gap: 35px;
  justify-content: center;
  align-items: center;
}

.Header__Logo {
  width: 15%;
}

.Nav__Lists {
  flex-wrap: wrap;
  display: inline-flex;
  gap: 27px;
}

.Nav__Lists li a {
  font-size: 14px;
  text-transform: uppercase;
  transition: 0.2s;
  font-weight: 400;
}

.Nav__Lists li {
  transition: all 0.3s;
}

.Nav__Lists li a:hover {
  border-bottom: 2px solid var(--color-primary);
}

.Social__Lists {
  display: inline-flex;
  gap: 20px;
}

.Social__Lists li a {
  color: var(--color-white);
  font-size: 20px;
  border: none;
}

.Main::before {
  transform: scaleX(0);
}

.Main:hover::before {
  transform: scaleX(1);
}

.Header__Toggle {
  display: none;
}

@media screen and (max-width: 1193px) {
  .Nav__Lists {
    display: none;
  }
  .Header__Main {
    box-shadow: 0px 0px 2px 0px white;
  }
  .Header__Logo {
    width: 20%;
  }
  .Header__Toggle {
    display: block;
    color: var(--color-white);
  }
  .Toggle__Button {
    font-size: 35px;
    gap: 40px;
  }
}



/* MEDIA QUERIES (SMALL DEVICES) */

@media screen and (max-width: 681px) {
  .Header__Logo {
    width: 45%;
  }

  .Header__Main {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    box-shadow: 0px 0px 2px 0px white;
  }

  .Parent__Nav {
    display: none;
  }

  .Nav__Lists.mobile-menu-visible {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #00000038;
    position: absolute;
    top: 100%;
    left: 0;
  }
  
}
