header {

  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: background-color 0.4s ease;
  box-shadow: 0px 0px 15px 0px white;
}

header h1 {
  margin: 0;
}

.scrolling {
  background-color: var(--color-bg); 
}


.Container__Header{
  background: transparent;

  /* TEMP POSITION RELATIVE  */
  
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  
}
.Header__Main{
  display: flex;
  justify-content: space-between;
  position: sticky;
  gap: 50px;
  align-items: center;
  padding: 10px 45px;
  margin: 0 auto;
  max-width: 1300px;
}


.Parent__Nav{
  display: flex;
  gap: 35px;
  justify-content: center;
  align-items: center;
}
.Header__Logo{
  width: 12%;
}

.Nav__Lists{
  flex-wrap: wrap;
  display: inline-flex;
  gap: 27px;
  transition: color 0.4s ease-in-out;
}
.Social__Lists{
  display: inline-flex;
  gap: 20px;
  margin-left: -20px;
}
.Social__Lists li a{
  color: var(--color-white);
  font-size: 15px;
  border: none;
}

.Main__Button{
  background: var(--color-primary);
  text-transform: uppercase;
  color: var(--color-white);
  padding: 12px 25px;
  border-radius: 40px;
  transition: var(--transition);
}
.Main__Button:hover{
  background: var(--color-white);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  cursor: pointer;
  border: none;
}
.Header__Toggle{
  display: none;
}



@media screen and (max-width: 1024px) {
  .Nav__Lists{
    display: none;
  }
  .Header__Logo {
    width: 20%;
  }
  .Header__Toggle {
    display: block;
  }
  .Toggle__Button{
    font-size: 35px;
    gap: 40px;
  }
}

/*  ================  MEDIA QUERIES (SMALL DEVICES) =================  */
@media screen and (max-width: 600px) {
  .Header__Logo {
    width: 33%;
  }
  
  .Header__Main{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

  }
  .Parent__Nav{
    display: none;
  }
}
  
@media screen and (max-width: 600px){
  .Header__Logo {
    width: 45%;
  }
}