.Footer__Parent{
    max-width: 1350px;
    padding: 70px;
    margin: 0 auto;
    border: 1px solid white;
    text-align: left;
}

.Footer__Container{
    border: 1px solid white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.Footer__Container > article{
    padding: 30px;
    border: 1px solid white;
}