#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.header{
  overflow: hidden;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.cursor {
  display: block;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.humBarger {
  position: absolute;
  top: 0;
  right: 0;
  height: 800px;
  background: white;
  width: 400px;
  z-index: 10;
}
.hide {
  transform: translateX(100%);
  transition-duration: 1s;
}

.show {
  box-shadow: 0px 0px 2px 0px white;
  background: var(--color-bg);
  transform: translateX(0);
  transition-duration: 1s;
}



.Inner__Burger{
  text-align: center;
  display: flex;
  padding: 200px 40px 0 40px;
  flex-direction: column;

}

.Hide__Hamburger{
  display: flex;
  justify-content: end;
  margin-top: -170px;
  margin-bottom: 100px;
}
.Hide-Button{
  font-size: 45px;

}
.Ham__Lists{
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 40px
}
.Ham__Lists li a{
  font-weight: 400;
  font-size: 18px;
  
}
.Ham__Socials{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}
.Ham__Socials li a{
  font-size: 25px;
 
}




@media screen and (max-width: 764px) {
  .cursor {
    display: none;
  }
}


@media screen and (max-width: 400px) {
  .Ham__Lists {
    gap: 18px;
    text-align: right;
}
.HamBut__Button{
  display: flex;
  justify-content: end;
}
.Ham__Socials {

  justify-content: end;
  
}
.Header__Button{
  display: flex;
  
  justify-content: end;
}

}